.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
}

.Button.Button_DEFAULT {
  background-color: rgb(236, 236, 236);
}
.Button.Button_POSITIVE {
  background-color: rgb(100, 201, 100);
  color: #fff;
}
.Button.Button_NEGATIVE {
  background-color: rgb(253, 86, 95);
  color: #fff;
}

.Button:disabled {
  background-color: rgb(236, 236, 236);
  color: #999;
  cursor: not-allowed;
}
